{% extends "base.html" %} <!-- Heredando (Bloque) plantilla index -->
	{% block title %}Gestión Canaima{% endblock %}
	
	{% block contenido %}
	<html>
<head>
    <title>Eliminar Ocupaciones</title>
</head>

{% load templatag_grupos %}

<script>
$(document).ready(function() {
});
</script>
<body>
  
    <form method="post" class="text-center">
	{% csrf_token %}
		<div style="width: 100%;text-transform:uppercase;box-shadow: 0 1px 5px rgba(0,0,0,.85)" onkeyup="javascript:this.value=this.value.toUpperCase();" class="panel panel-primary">
		  <div class="panel-heading text-center">
		  <label style="float: left" class="panel-title " ><a style="color: white" href="/menu/configuraciones/ocupaciones/listar/" >Ocupaciones</a>
			  > Eliminar Ocupación</label>
			  <br>
		  </div>
		  <div class="form-inline" >
				<div class="panel-body">
				<h3 style="color: red">¿Está seguro que quiere borrar este Ocupación "{{ borrar_ocupacion.ocupacion }}" ?</h3>
				{% if cantidad > 0 %}
					<h4 style="color: red">Disculpe, pero no puede Eliminar este Ocupación porque esta <span style="color: red"> vinculada a 1 o más XYZ</span></h4>
				{% endif%}
				</div>
				<div class="row" >
					 <a href='/menu/configuraciones/ocupaciones/listar/'>
						<button type="button" style="font-weight: bold;font-size: 13px" class="btn btn-warning " >
							&nbsp;<span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Volver
						</button>
					</a>
					 &nbsp;&nbsp;&nbsp;	
				   <button style="font-weight: bold;font-size: 13px" type="submit" id="eliminar:mod" class="btn btn-primary "
						{% if cantidad > 0 %}
						disabled="disabled" 
						{% endif %}
					/><span class="glyphicon glyphicon-remove"></span>&nbsp;Eliminar
					</button>
			   </div>
		  </div>
		  <br>
	 </div>
	
	
    </form>
	<br>
</body>
</html>
	
{% endblock contenido%}
