{% extends 'base.html' %}
{% block contenido %}
{% load templatag_grupos %}
{% ifusergroup Configuraciones %}
<script>
$(document).ready(function(){
    var TUbch = $('#tab_estado').dataTable({
        "iDisplayLength": 25,
        "iDisplayStart": 0,
        "sPaginationType": "full_numbers",
        "aLengthMenu": [25, 50, 75, 100],
        "oLanguage": {"sUrl": "/static/js/es.txt"},
        "aoColumns": [
            {"sClass": "registro center", "sWidth": "3%"},
            {"sClass": "registro center", "sWidth": "15%"},
            {"sClass": "registro center", "sWidth": "10%"},
            {"sWidth": "3%", "bSortable": false, "sClass": "center sorting_false", "bSearchable": false},
            {"sWidth": "3%", "bSortable": false, "sClass": "center sorting_false", "bSearchable": false},
        ]
    });
    $('#enviar').click(function(){
        url = '/menu/configuraciones/grupo_etareo/registrargrupo_etareo/'
        window.location = url
    })   

});
</script>
<div class="container mainbody-section text-center" style="width:100%">
    <button role="button" class="btn btn-primary" style="font-weight: bold;font-size: 13px" id="enviar" >
        &nbsp;<span class="glyphicon glyphicon-plus"></span>Agregar Grupo Etáreo</button>
    <br/>
    <br/>
    <table style="width:100%;" border="0" align="center" cellspacing="1" id="tab_estado" align="center"
           class="table table-bordered table-striped table-hover table-condensed dt-responsive table-responsive" style="width:30%">
        <thead style="font-size: 16px">
            <tr style="background-color: #1D88C6">
                <th style='text-align: center;color: white' colspan="8">Listado de Grupos Etáreo</th>
            </tr>
            <tr class="primary">
                <th style='text-align: center'>Ítem</th>
                <th style='text-align: center'>Descripción</th>
                <th style='text-align: center'>Rango de Edad</th>
                <th style='text-align: center'>Editar</th>
                <th style='text-align: center'>Borrar</th>
            </tr>
        </thead>
        <tbody>
            {% for m in listar_grupo_etareo %}
            <tr style="font-size: 16px; background: white">
                <td>
                    {{ forloop.counter }}
                </td>
                <td>
                    {{m.descripcion}}
                </td>
                <td style='text-align: center'>
                    {{m.desde}}-{{m.hasta}}
                </td>
                <td style='text-align: center'>
                    <a href="{% url "editar_grupo_etareo" m.id %}"><img style="width:25px;height: 25px" src="{{ STATIC_URL }}img/edit.png"/></a>
                </td>
                <td style='text-align: center'>
                    <a href="{% url "borrar_grupo_etareo" m.id %}"><img style="width:25px;height: 25px" src="{{ STATIC_URL }}img/borrar.png"/></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div class="text-center"> 	<img src="{{ STATIC_URL }}img/disculpe.png" style="width: 70%"/> </div>
{% endifusergroup %}
{% endblock %}