<!DOCTYPE html>
{% extends 'base.html' %}

{% block contenido %}
<html>
<head>
    <title>Modificar Grupo Etareo</title>
</head>
<script type="text/javascript">
$(document).ready(function(){
    $('#edit_descripcion').alpha({allow:" "}); //Valida solo valores tipo texto en descripción
    $('#edit_grupo_etareo').numeric({allow:"+-"}); //Solo permite numeros y estos caractes en el rago del grupo
    $('#registrar').click(function(e){ //Valida al guardar que el rago no sea menor 3 caracteres
	e.preventDefault();
	$('input').on({
	    keypress: function() {
		$(this).parent('div').removeClass('has-error');
	    }
	});

	if (($('#edit_descripcion').val() == '')) {
	    bootbox.alert('Disculpe, Debe Colocar la Descripción', function() {	    
			$('#edit_descripcion').parent('div').addClass('has-error');
	    }); 
	}
	else if ($('#edit_descripcion').val().length < 4) {
        bootbox.alert('Disculpe, Descripción invalida (muy corta)', function() {	    
			$('#edit_descripcion').parent('div').addClass('has-error');
	    });
	}
	else if($('#edit_descripcion').val() == null || $('#edit_descripcion').val().length == 0 || /^\s+$/.test($('#edit_descripcion').val())) {
        bootbox.alert('Disculpe, no esta registrando nada', function() {	    
			$('#edit_descripcion').parent('div').addClass('has-error');
	    });
    }
    else {
	    $('form').submit();
        }
    });
    $('#volver').click(function(){
        url = '/menu/configuraciones/grupo_etareo'
        window.location = url
    })
});
</script>

<body>
    {% load templatag_grupos %}
    {% ifusergroup Configuraciones %}  
    <form method="post">
	{% csrf_token %}
	<div style="width: 100%;text-transform:uppercase;box-shadow: 0 1px 5px rgba(0,0,0,.85)" onkeyup="javascript:this.value=this.value.toUpperCase();" class="panel panel-primary">
		<div class="panel-heading text-center">
			<label style="float: left" class="panel-title " ><a href="/menu/configuraciones/grupo_etareo/">Grupos Etáreos</a> > Modificar Grupo Etáreo</label>
			<br>
		</div>
	    <fieldset><legend class="titulo">Datos del Grupo Etáreo</legend></fieldset>
	    <br/>
	    <div class="form-inline" >
		<div class="form-group col-xs-6">
		    <label style="font-size: 13px">Descripción:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
		    <input type='text' maxlength="30" placeholder="Nombre del Grupo" style="width: 70%;text-transform:uppercase;" onkeyup="javascript:this.value=this.value.toUpperCase();" id="edit_descripcion" name="descripcion" value="{{editar_grupo_etareo.descripcion}}"/>
		</div>
		<div class="form-group col-xs-3">
				<label>Desde:&nbsp;&nbsp; </label>
                <input id="desde" name="desde" style="width: 25%;bold;font-size: 13px" maxlength="2" type="text" value="{{editar_grupo_etareo.desde}}" />
            </div>
            <div class="form-group col-xs-3">
				<label>Hasta:&nbsp;&nbsp; </label>
                <input id="hasta" name="hasta" style="width: 25%;bold;font-size: 13px" maxlength="2" type="text" value="{{editar_grupo_etareo.hasta}}" />
            </div>  
	    </div>
	    <input id='edit_user_create' type="hidden" name='user_create' value="{{editar_grupo_etareo.user_create.id }}">
	    <input id='user_update' type="hidden" name='user_update' value='{{ user.id }}'>
	    <br/>
	    <br/>
	    <br/>
		<div class="row" style="text-align: center">
			<button type="button" id="volver" style="font-weight: bold;font-size: 13px" class="btn btn-warning " >
				&nbsp;<span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Volver
			</button>
			<button type="submit" id="registrar" style="font-weight: bold;font-size: 13px" class="btn btn-primary"/>
				&nbsp;<span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;Guardar Cambios
			</button>
	    </div>
            <br/>
        </div>
	

    </form>
    {% else %}
    <div class="text-center"> 	<img src="{{ STATIC_URL }}img/disculpe.png" style="width: 70%"/> </div>
    {% endifusergroup %}
</body>
</html>
{% endblock %}