{% extends 'base.html' %}

{% block contenido %}
<script>
$(document).ready(function(){
    var TUbch = $('#tab_instituciones').dataTable({
        "iDisplayLength": 10,
        "iDisplayStart": 0,
        "sPaginationType": "full_numbers",
        "aLengthMenu": [25, 50, 75, 100],
        "oLanguage": {"sUrl": "/static/js/es.txt"},
        "aoColumns": [
            {"sClass": "registro center", "sWidth": "1%"},
			{"sClass": "registro center", "sWidth": "3%"},
            {"sClass": "registro center", "sWidth": "5%"},
            {"sClass": "registro center", "sWidth": "20%"},
            {"sClass": "registro center", "sWidth": "5%"},
			{"sClass": "registro center", "sWidth": "5%"},
            {"sWidth": "3%", "bSortable": false, "sClass": "center sorting_false", "bSearchable": false},
            {"sWidth": "3%", "bSortable": false, "sClass": "center sorting_false", "bSearchable": false},
        ]
    });
    $('#enviar').click(function(){
        url = '/menu/configuraciones/instituciones/registrarinstitucion/'
        window.location = url
    })   

});
	function cambiar_status(pk_id,institucion_activa) {
        id_data= String(pk_id)
        bootbox.confirm({
			title: 'Cambiar estatus de Institución',
			message: '¿Realmente desea cambiar el estatus de esta institución?, tenga en cuenta que si la institución no esta activa no aparecera disponible para las diversas funciones y/o procesos del sistema',
			buttons: {
				'cancel': {
					label: 'NO',
					className: 'btn-primary'
				},
				'confirm': {
					label: 'SI',
					className: 'btn-info'
				}
			},
			callback: function(result) {
				if (result === true) {
					$.post('', {'pk': id_data, 'institucion_activa': institucion_activa, 'csrfmiddlewaretoken': "{{ csrf_token }}"}, function (response) {
						if (response == 'exito') {
							bootbox.alert("El estatus ha sido actualizado", function () {
							});
						}
					});
				}else{
					url = '/menu/configuraciones/instituciones/'
					window.location = url
				}
			}
		}); 
    };
</script>
{% load templatag_grupos %}
{% ifusergroup Configuraciones %}
<div class="row-fluid" >
	<div class="container mainbody-section text-center"  style="width:100%;">
			<button role="button" class="btn btn-primary" style="font-weight: bold;font-size: 13px" id="enviar" >
				&nbsp;<span class="glyphicon glyphicon-plus"></span>&nbsp;Agregar Isntitución
			</button>
			<table style="width:100%;" border="0" align="center" cellspacing="1" id="tab_instituciones"
			class="panel panel-warning  table table-bordered table-striped table-hover table-condensed dt-responsive table-responsive" >
				<thead style="font-size: 16px">
						<tr style="background-color: #1D88C6">
							<th style='text-align: center; color: white' colspan="8">Listado de Instituciones</th>
						</tr>
						<tr class="primary">
							<th style='text-align: center'>Item</th>
							<th style='text-align: center'>Activa</th>
							<th style='text-align: center'>Siglas</th>
							<th style='text-align: center'>Nombre de la Intitución</th>
							<th style='text-align: center'>Estado</th>
							<th style='text-align: center'>Teléfono</th>
							<th style='text-align: center'>Editar</th>
							<th style='text-align: center'>Borrar</th>
						</tr>
					</thead>
					<tbody>
						{% for m in listar_institucion %}
						<tr style="font-size: 14px" >
							<td>
								{{ forloop.counter }}
							</td>
							<td>
								{%if m.institucion_activa == True %}
									<input type="checkbox" name="check" class="btn_check" onclick="cambiar_status('{{m.id}}',$(this).prop('checked'))" checked="checked"/>
									{% else %}
									<input type="checkbox" name="check" class="btn_check" onclick="cambiar_status('{{m.id}}',$(this).prop('checked'))"/>
								{% endif %}
							</td>
							<td>
								{{m.siglas}}
							</td>
							<td>
								{{m.nom_institucion}}
							</td>
							<td>
								{{m.estado}}
							</td>
							<td>
								{{m.telefono}}
							</td>
							<td style='text-align: center'>
								<a href="{% url "editar_institucion" m.id %}" ><img style="width:25px;height: 25px" src="{{ STATIC_URL }}img/edit.png"/></a>
							</td>
							<td style='text-align: center'>
								<a href="{% url "borrar_institucion" m.id %}"><img style="width:25px;height: 25px" src="{{ STATIC_URL }}img/borrar.png"/></a>
							</td>
						</tr>
						{% endfor %}
					</tbody>
			</table>
		</div>
	</div>
{% else %}
<div class="text-center">
	<img src="{{ STATIC_URL }}img/disculpe.png" style="width: 70%"/>
</div>
{% endifusergroup %}
{% endblock %}
