<!DOCTYPE html>
{% extends 'base.html' %}
{% block contenido %}
<html>
<head>

</head>
<script type="text/javascript">
	
</script>
<body>
	<header>
    </header>
	<center>
	<div >
		<h4 style="color: #0D86E2; font-size: 200%"><p>Sistema de Control de Visitas</p></h4>
		<img src="{{ STATIC_URL }}img/inicio.gif" style="width: 30%; margin-top: 2%"/>

		<h4 style="color: #0D86E2; font-size: 200%"><p>Buen día {{user|upper}}, tu última conexión: {{user.last_login | date:'d-m-Y h:i a'}}</p></h4>
	</div>
	</center>
</body>
</html>
{% endblock %}